uploads
mongo_snapshots
public/encoded_video
public/phone_samples
public/images
classification_data
dnn_runner/models
dnn_runner/already_deprecated
dnn_runner/dnn_testing
dnn_runner/recipes
.*log
server_logs
node_modules
public/test_media
