extends layout

block content
  h1 Tervetuloa kokeilemaan puhutun ruotsin ylioppilaskokeen pilottia!
  p Tunnukset sinulla pit채isi jo olla. Jos ei ole, niin taitaa j채채d채 kokeilu lyhyeksi.

  // Wrapper
  #wrapper


      // USER LIST
      -if (showlogin) 
          h2 Login
              form#login(action="/login", method="post")
                  input#username(type="text", name="username", placeholder='Username')
                  br
                  input#password(type="password", name="password", placeholder='Password' value="codeme!" readonly)
                  br
                  input(type="submit", value="login")

      form#login1(action="/login", method="post")
          input#username(type="text", name="username", placeholder='Username')
          br
          input#password(type="password", name="password", placeholder='Password')
          br
          input(type="submit", value="Kirjaudu")


      // ADD USER
      -if (adding_user)
          h2 Add User
          #addUser
              fieldset
                  input#inputUserName(type='text', placeholder='Username')
                  input#inputUserEmail(type='text', placeholder='Email')
                  br
                  input#inputUserFullname(type='text', placeholder='Full Name')
                  input#inputUserAge(type='text', placeholder='Age')
                  br
                  input#inputUserLocation(type='text', placeholder='Location')
                  input#inputUserGender(type='text', placeholder='gender')
                  br
                  button#btnAddUser Add User
      // /ADD USER


      // UPLOAD PHOTO
      -if (uploading_photo)
          #uploadPhoto
              fieldset
                  input#inputFileName(type='file', placeholder='Photo file name')
                  br
                  button#btnUploadFile Upload File
  // /WRAPPER