extends layout

block content
  #cover 

  #instructions


  #main
      //h1 Hejsan, pilot!
      //p Ruotsin kielen ylioppilaskirjoitusten raakile. Tätä kypsytellään avullasi.


      // Wrapper
      #testwrapper



          // VIDEO AND CONTROLS
          #userControls
               #recording(class="blink_me")
               //video#uservideo(autoplay muted)
               video#camera-preview(autoplay muted)
               audio#recordedObject
               canvas#analyser
               //canvas#wavedisplay
               #progress
               form#upload(action="/upload" method="post" enctype="multipart/form-data")
                   input#MAX_FILE_SIZE(type="hidden" name="MAX_FILE_SIZE" value="63856800")
                   input#filename(type="hidden" name="filename" value="krozz-fi0")
          // /VIDEO AND CONTROLS


        
          #testarea

              #taskarea 

              #controlarea
                   //input#listenButton(type="button" onClick='toggle_play();' oncanplay='canaudioplay=1' value="Kuuntele" name="listen" disabled)
                   //input#record(type="button" onclick="overrideToggleRecording(this)" value="Aloita äänitys")
                   //input#nextButton(type="button" onclick='nextTask()' value="Seuraava tehtävä" disabled)
                   //input#start-recording(type="button"  value="Start")
                   //input#stop-recording(type="button"  value="Stop")


          // USER INFO
          -if (debug)
              #debug
                  h2 Test Info (For debugging)
                  p
                      strong Task:
                      |  <span id='testTask_id'></span>
                      br
                      strong Instructions:
                      |  <span id='testInstructions'></span>
                      br
                      strong Stimulus layout:
                      |  <span id='testStimulus_layout'></span>
                      br
                      strong Trial:
                      |  <span id='testTrial_id'></span>
                      br
                      strong Stimulus:
                      |  <span id='testStimulus'></span>
                      br
                      strong Response_time:
                      |  <span id='testRespTime'></span>
                      br
                      strong Next:
                      |  <span id='testNext'></span>
                      br
                      button#btnNext Next trial

          // /USER INFO

      #backtosquareone
          a(href="login") Takaisin alkuun

block scripts
    -if (user.username)
        script(type='text/javascript').
            var username =!{JSON.stringify( user.username )};
    script(src='/javascripts/recorder.js')
    script(src='/javascripts/uploadfile.js')
    script(src='/javascripts/audio-analyser.js')
    script(src='/javascripts/tests-local.js')
    script(src='/javascripts/messages.js')
    script(src="/javascripts/RecordRTC.js")
    script(src='/javascripts/jquery.pietimer.modified.js')