extends layout

block content
  h1= title
  p Welcome to our test

  
  // Wrapper
  #wrapper


      
      // VIDEO AND CONTROLS
      #userControls
           #recording(class="blink_me")
           video#uservideo(autoplay)
           audio#recordedObject
           canvas#analyser
           canvas#wavedisplay
           #controlfreak
               input#listenButton(type="button" onClick='toggle_play();' oncanplay='canaudioplay=1' value="Kuuntele" name="listen" disabled)
               input#record(type="button" onclick="overrideToggleRecording(this)" value="Aloita 채채nitys")
               input#nextButton(type=button onclick='nextTask()' value="Seuraava teht채v채" disabled)
           #progress
           #upload
      // /VIDEO AND CONTROLS




      // USER INFO
      #testInfo
          h2 Test Info
          p
              strong Task:
              |  <span id='testTask_id'></span>
              br
              strong Instructions:
              |  <span id='testInstructions'></span>
              br
              strong Stimulus layout:
              |  <span id='testStimulus_layout'></span>
              br
              strong Trial:
              |  <span id='testTrial_id'></span>
              br
              strong Stimulus:
              |  <span id='testStimulus'></span>
              br
              strong Next:
              |  <span id='testNext'></span>
              br
              button#btnNext Next trial

      // /USER INFO


