
body {
  padding: 30px;
  font: 22px "Lucida Grande", Helvetica, Arial, sans-serif;
}

input[type="button"] {
	background: #FF5DB1;
	background: -moz-linear-gradient(top,#FF5DB1 0%,#E94A86 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FF5DB1),color-stop(100%,#E94A86));
	background: -webkit-linear-gradient(top,#FF5DB1 0%,#E94A86 100%);
	background: -o-linear-gradient(top,#FF5DB1 0%,#E94A86 100%);
	background: -ms-linear-gradient(top,#FF5DB1 0%,#E94A86 100%);
	background: linear-gradient(top,#FF5DB1 0%,#E94A86 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#FF5DB1', endColorstr='#E94A86',GradientType=0);
	padding:5px 7px;
	color:#fff;
	font-family:'Helvetica Neue',sans-serif;
	font-size:22px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid #E8124F;
	margin: 12px;
}
input[type="button"]:disabled {
    background: #dddddd;
} 
input[type="button"]:active {
    background: #DF3D91;
} 

h2 {
	margin:0 0 .5em 0;
}

a {
  color: #00B7FF;
}

#wrapper {
	padding-left:512px;
	padding-right:80px;
	position:relative;
	font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

select{
    width: 250px;
    text-overflow: ellipsis;
}

fieldset select {
    width: 100px;
}

fieldset label {
    display: inline;
    float: left;
    width: 200px;
}

#testwrapper {
	padding-left:312px;
	padding-right:80px;
	position:relative;

}

#userList {
	margin:0 0 30px 0;
}
	#userList table {
		border-collapse:separate;
		border-spacing:1px;
		background:#CCC;
	}
		#userList table th {
			background:#EEE;
			font-weight:600;
			padding:10px 20px;
			text-align:center;
		}
		#userList table tbody {
			padding:0; margin:0;
			border-collapse:collapse;
			border-spacing:0px;
		}
			#userList table td {
				background:#FFF;
				padding:5px 10px;
				text-align:center;
			}

#adminList {
	margin:0 0 30px 0;
}
	#adminList table {
		border-collapse:separate;
		border-spacing:1px;
		background:#CCC;
	}
		#adminList table th {
			background:#EEE;
			font-weight:600;
			padding:10px 20px;
			text-align:center;
		}
		#adminList table tbody {
			padding:0; margin:0;
			border-collapse:collapse;
			border-spacing:0px;
		}
			#adminList table td {
				background:#FFF;
				padding:5px 10px;
				text-align:center;
			}


#teacherList {
	margin:0 0 30px 0;
}
	#teacherList table {
		border-collapse:separate;
		border-spacing:1px;
		background:#CCC;
	}
		#teacherList table th {
			background:#EEE;
			font-weight:600;
			padding:10px 20px;
			text-align:center;
		}
		#teacherList table tbody {
			padding:0; margin:0;
			border-collapse:collapse;
			border-spacing:0px;
		}
			#teacherList table td {
				background:#FFF;
				padding:5px 10px;
				text-align:center;
			}

/*#taskEditor {
	width:450px;
	position:fixed;
	padding-left:30px;
	padding-top:200px;
	top:0; left:0;
}*/


#userInfo,#taskEditor {
	width:450px;
	position:absolute;
	top:0; left:0;
}
	#userInfo p {
		padding:15px;
		border:1px solid #CCC;
		background:rgba(80,120,255,0.05);
	}
	#infop {
		padding:15px;
		border:1px solid #CCC;
		background:rgba(80,120,255,0.05);
	}



#userInfoTasks video {
    width: 200px;
}

fieldset {
	border:0;
	padding:0; margin:0;
}

#camera-preview {
	position:relative;

    width: 200px;
    height: 150px;
    background: #888888;
    box-shadow: 0px 0px 10px blue;
}
#analyser {
    position:relative;

    width:200px;
    height: 80px;
    background:rgba(80,120,255,0.05);
    box-shadow: 0px 0px 10px blue;
  
}

#wavedisplay { 
    position:relative;

    /*display: inline-block; */
    background: #202060; 
    width: 200px;
    height: 80px;
    box-shadow: 0px 0px 10px blue;
}		

#userControls {
	width:250px;
	position:absolute;
	top:0; left:0;
}
	#userControls p {
	        font-size:17px;

                width: 170px;
		padding:15px;
		border:1px solid #CCC;
		background:rgba(80,120,255,0.05);
	}



#progress p
{
        font-size: 0.6em; 
	display: block;
	width: 190px;
	padding: 2px 5px;
	margin: 2px 0;
	border: 1px inset #446;
	border-radius: 5px;
	background: #eee url("/svenska/images/progress.png") 100% 0 repeat-y;
}

#progress p.success
{
	background: #0c0 none 0 0 no-repeat;
}

#progress p.failure
{
	background: #c00 none 0 0 no-repeat;
        color: yellow;
/*	background: #cc3333 none 0 0 no-repeat;*/
}


#debug {
    padding:15px;
    border:1px solid #CCC;
    background:rgba(80,120,255,0.05);  
    position:absolute;
    right: 15px;
    width: 400px;
}



#testarea {
	margin:0 0 30px 0;
}

/* From http://www.corelangs.com/css/box/fulloverlay.html */

#main {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    background: #fcff00 none repeat scroll 0% 0%;
    height: 100%;
    width: 100%;
}

#cover{ 
   position:fixed; 
   top:0; 
   left:0; 
   background:rgba(0,0,0,0.6); 
   /*z-index:5; */
   width:100%; 
   height:100%; 
   /*display:none; */
}
#instructions { 
   /*height:90%; */
   width:540px; 
   margin:0 auto; 
   position:relative; 
   /*z-index:10; */
   /*display:none; */
   background: #ffffff; 
   border:5px solid #cccccc; 
   border-radius:10px;
   padding: 15px; 
} 
#infobutton {
   height: 4em;
   width: 4em;
   border: 2px solid #ffffff; 
   border-radius: 6em;
   font-size: 1em;
   padding: 0.2em;
   color: #ffffff;
   font-weight: bold;
   font-family: Verdana,sans-serif;
}


.allClear { 
  display:block; 
  font-size:20px; 
  text-decoration:none; 
  text-align:center; 
  font-weight:bold;
   border:2px solid #cccccc; 
   border-radius:7px;   
}


/* z-indexing: */


#cover{ 
    z-index:5; 
}
#instructions { 
    z-index:10; 
}
#main:target {
    z-index:15
}
#instructions:target, 
    z-index:11;
}


/* Image scaling */

#stimulusmedia {
}

      #stimulusmedia img {
	  height: auto; 
	  width: auto; 
	  max-width: 500px; 
	  max-height: 350px;

      }

      #stimulusmedia video {
	  height: auto; 
	  width: auto; 
	  max-width: 500px; 
	  max-height: 350px;

      }

#editTrialVideo{
    max-width: 200px;
}



/* Timer from 

http://www.jqueryscript.net/loading/Graphical-Circular-Timer-with-jQuery-CSS3-pietimer.html

*/


#timer {
    margin: 20px;
    width: 80px;
}

.pietimer {
    position:relative;
    font-size: 200px;
    width:1em;
    height:1em;
    float: left;
}
.pietimer > .percent {
    position: absolute;
    top: 1.05em;
    left: 0;
    width: 3.33em;
    font-size: 0.3em;
    text-align:center;
    display: none;
}
.pietimer > .remainingsec {
    position: absolute;
    top: 1.05em;
    left: 0;
    width: 3.33em;
    font-size: 0.3em;
    text-align:center;
    display: none;
}

.pietimer > .slice {
    position:absolute;
    width:1em;
    height:1em;
    clip:rect(0px,1em,1em,0.5em);
}
.pietimer > .slice.gt50 {
    clip:rect(auto, auto, auto, auto);
}
.pietimer > .slice > .pie {
    border: 0.1em solid #c0c0c0;
    position:absolute;
    width:0.8em; /* 1 - (2 * border width) */
    height:0.8em; /* 1 - (2 * border width) */
    clip:rect(0em,0.5em,1em,0em);
    -moz-border-radius:0.5em;
    -webkit-border-radius:0.5em;
    border-radius:0.5em;
}
.pietimer > .slice > .pie.fill {
    -moz-transform:rotate(180deg) !important;
    -webkit-transform:rotate(180deg) !important;
    -o-transform:rotate(180deg) !important;
    transform:rotate(180deg) !important;
}
.pietimer.fill > .percent {
    display: none;
}
.pietimer.fill > .remainingsec {
    display: none;
}
.pietimer.fill > .slice > .pie {
    border: transparent;
    background-color: #c0c0c0;
    width:1em;
    height:1em;
}


#backtosquareone {
    z-index: 75;
    position: fixed;
    width:200px;
    height:70px;
    right:10px;
    bottom:10px;
}


/* Stuff for task editor: */

.task {
    padding: 8px;
    border: 1px solid #cccccc;   
    margin-bottom: 10px;
}

.taskLabel {
    float: left;
    font-weight: bold;
    width: 40px;
    padding-top: 3px;
}


.taskSample {
    margin-bottom: 3px;
    background: #fcff00 ;
    padding: 3px;
    border: 1px solid #cccccc;
    left: 200px;
    margin-left:150px;
}

.trial {
    padding: 8px;
    border: 1px solid #cccccc;   
    margin-bottom: 10px;
}
.trialLabel {
    float: left;
    font-weight: bold;
    width: 40px;
    padding-top: 3px;  
}
.trialSample {
    margin-bottom: 3px;
    background: #fcff00 ;
    padding: 3px;
    border: 1px solid #cccccc;
    left: 200px;
    margin-left:150px;
}
.trials {
    margin-bottom: 3px;
    padding: 3px;
    left: 200px;
    margin-left:150px;
}


#bottom {
    position: absolute;
    font-size:12px;
    /*margin-top: 300px;
    width:400px;
    height:70px;*/
    right:10px;
    bottom:10px;
}